@use "sass:map";
@use "../abstracts/variables" as *;

.header__container{
    align-items: center;
    background-color: $navbar-bg-color;
    width: 100%;
    //position: fixed;
    //top: 0;
    nav{
        display: flex;
        gap: 1rem;
        height: 50px;
        right: 0;
        justify-content: space-between;
        a {
            padding: 1rem;
            font-weight: 800;

        }
        @media screen and (max-width: map.get($grid-breakpoints, md)) {
            display: none;
            
        }
    }
     .navbar__menu-mobile{
    
       display: flex;
       align-items: center;
       gap: 1rem;
       .navbar__menu-button{
        position: relative;
        background-color: transparent;
        height: 100%;
       
    }
        @media screen and (min-width: map.get($grid-breakpoints, sm)) {
           display: none;
            
        }


    }
 
}
