@use "sass:map";
@use "../abstracts/variables" as *;

.header__container{
    nav{
        display: flex;
        height: 50px;
        right: 0;
        justify-content: space-between;
        a {
            padding: 1rem;
            font-weight: 800;

        }
        @media screen and (max-width: map.get($grid-breakpoints, md)) {
            display: none;
            
        }
    }
    .navbar__menu-button{

    }
}
