@use "sass:map";
@use "../abstracts/variables" as *;
.btn {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    &__primary {
        
        background-color: $primary-color; // modificado por obsolecencia
        &:hover{
            
            background-color: $secondary-color;
            color: $primary-color;
        }

        &.btn__outline {
            
            color: $black;
            background-color: transparent;
            
            border: 2px solid $primary-color;
            
            &:hover{
                
                background-color: $primary-color; // modificado por obsolecencia
                color: $black;
            }
        }

    }

    &__secondary {
       
        background-color: $secondary-color;
        &:hover{
            
            background-color: $primary-color;
            color: $secondary-color;
        }
        &.btn__outline {
            
            color: $black;
            background-color: transparent;
            
            border: 2px solid $secondary-color;
            
            &:hover{
                
                background-color: $primary-color;
                color: $black;
            }
        }
    }

    .btn__outline {
        
        color: $black;
        background-color: transparent;
        
        border: 2px solid $secondary-color;
        
        &:hover{
            
            background-color: $primary-color;
            color: $black;
        }
    }

}




