
@each $key, $prop in $spacings {
    @for $i from 0 through 12 {
        .#{$key}-#{$i} {
            #{$prop}: $i * 0.25rem;
        }
    }
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content:center;
}
.gap-24 {
    gap: 24px;
}

.mb-100 {
    margin-bottom: 100px;
}

.m-0{
    margin: 0;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3{
    padding: 1.5rem;
}

.pb-0{
    padding-bottom: 0;
}